List

Python Example Program - List creation in Python

In [ ]:
L0 = []		#creates empty list
L1 = [123,"python", 3.7]
L2 = [1, 2, 3, 4, 5, 6]
L3 = ["C Programing","Java","Python"]
print(L0)
print(L1)
print(L2)
print(L3)

[]
[123, 'python', 3.7]
[1, 2, 3, 4, 5, 6]
['C Programing', 'Java', 'Python']

Python Example Program - List Operators in Python

In [ ]:
num=[1,2,3,4,5]
lang=['python','c','java','php']
print(num+lang)
print(num*2)
print(lang*2)
print(lang[2])
print(lang[1:4])
print(lang[:2])
print(lang[2:])
print('cpp' in lang)
print(6 not in num)

[1, 2, 3, 4, 5, 'python', 'c', 'java', 'php']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
['python', 'c', 'java', 'php', 'python', 'c', 'java', 'php']
java
['c', 'java', 'php']
['python', 'c']
['java', 'php']
False
True

In [ ]:
lang = ['python','c','java','php']
print(lang)
for i in lang:
    print(i)

['python', 'c', 'java', 'php']
python
c
java
php

len() max() min() sum()

In [ ]:
list1=['%','&','$','a','b','bat']
print(len(list1))
print(max(list1))
print(min(list1))
# print(sum(list1))

6
bat
$

In [ ]:
num=[1,2,3,4,5,6]
print("length of list_num :",len(num))
print("Max of list_num :",max(num))
print("Min of list_num :",min(num))
print("sum of list items :",sum(num))

length of list_num : 6
Max of list_num : 6
Min of list_num : 1
sum of list items : 21

In [ ]:
lang=['java','c','python','cpp','sql','SQL']
print("length of list_lang :",len(lang))
print("Max of list_lang :",max(lang))
print("Min of list_lang :",min(lang))
# print("sum of list items :",sum(lang))

length of list_lang : 6
Max of list_lang : sql
Min of list_lang : SQL

list()

In [ ]:
str="python"
list1=list(str)
print(list1)

['p', 'y', 't', 'h', 'o', 'n']

sorted() sort() append() for numbered list

In [ ]:
num=[1,3,2,4,6,5]
print("The original list num is :",num)
num2 = sorted(num)
print("The sorted list num2 is :",num2)
print("The sorted list num2 is :",sorted(num))
print("The original list num is :",num)
print("The sorted list num2 in descending order using sorted is :",sorted(num,reverse = True))
print("The sort list num returning None:",num.sort())
print("The original updated sorted list using sort function is:",num)
num.sort(reverse=True)
print("The updated sorted list (descending order) using sort function is:",num)
num.append(10)
print("The appended list num is:",num)

The original list num is : [1, 3, 2, 4, 6, 5]
The sorted list num2 is : [1, 2, 3, 4, 5, 6]
The sorted list num2 is : [1, 2, 3, 4, 5, 6]
The original list num is : [1, 3, 2, 4, 6, 5]
The sorted list num2 in descending order using sorted is : [6, 5, 4, 3, 2, 1]
The sort list num returning None: None
The original updated sorted list using sort function is: [1, 2, 3, 4, 5, 6]
The updated sorted list (descending order) using sort function is: [6, 5, 4, 3, 2, 1]
The appended list num is: [6, 5, 4, 3, 2, 1, 10]

sorted() sort() append() for string list

In [ ]:
lang=['java','c','python','cpp','sql','SQL']
lang2 = sorted(lang)
print("The sorted list lang2 is :",lang2)
print("The sorted list lang2 is :",sorted(lang))
print("The original list lang is :",lang)
print("The sort list lang returning None:",lang.sort())
print("The sorted list lang2 in descending order using sorted is :",sorted(lang,reverse = True))
print("The original updated sorted list using sort function is:",lang)
lang.sort(reverse=True)
print("The updated sorted list (descending order) using sort function is:",lang)
fruits=["Banana", "apple", "Cherry"]
fruits2 = sorted(fruits)
print("The sorted list fruits2 is :",fruits2)
print("The sorted list fruits3 is :",sorted(fruits, key=str.lower))
print("The sorted list based on length fruits4 is :",sorted(fruits, key=len))
print("The sorted list based on last char fruits4 is :",sorted(fruits, key=lambda s:s[-1]))
print("The sorted list based on last before char fruits4 is :",sorted(fruits, key=lambda s:s[-2]))
print("The sorted list based on char[1] fruits4 is :",sorted(fruits, key=lambda s:s[1]))
lang.append("perl")
print(lang)

The sorted list lang2 is : ['SQL', 'c', 'cpp', 'java', 'python', 'sql']
The sorted list lang2 is : ['SQL', 'c', 'cpp', 'java', 'python', 'sql']
The original list lang is : ['java', 'c', 'python', 'cpp', 'sql', 'SQL']
The sort list lang returning None: None
The sorted list lang2 in descending order using sorted is : ['sql', 'python', 'java', 'cpp', 'c', 'SQL']
The original updated sorted list using sort function is: ['SQL', 'c', 'cpp', 'java', 'python', 'sql']
The updated sorted list (descending order) using sort function is: ['sql', 'python', 'java', 'cpp', 'c', 'SQL']
The sorted list fruits2 is : ['Banana', 'Cherry', 'apple']
The sorted list fruits3 is : ['apple', 'Banana', 'Cherry']
The sorted list based on length fruits4 is : ['apple', 'Banana', 'Cherry']
The sorted list based on last char fruits4 is : ['Banana', 'apple', 'Cherry']
The sorted list based on last before char fruits4 is : ['apple', 'Banana', 'Cherry']
The sorted list based on char[1] fruits4 is : ['Banana', 'Cherry', 'apple']
['sql', 'python', 'java', 'cpp', 'c', 'SQL', 'perl']

Python Example Program - to add or change elements to a python list
using assignment, insert() and append()

In [ ]:
num=[10,20,30,40,50]
print("numbered list:",num)
num[2]=80       # Assigning overwrites the elements in the list
print("updated list:",num)
num[1:3]=[25,36]
print("updated list:",num)
num.insert(3,60)
print("Inserted list is :",num)
num.insert(8,70)
print("Inserted list is :",num)
num.insert(-2,35)
print("Inserted list using negative indexing is :",num)
num.insert(len(num),45)
print("Insert at end of the list using len fun :",num)
num.append(85)
print("The appended list num is :",num)
num.append(65)
print("The appended list num is :",num)

numbered list: [10, 20, 30, 40, 50]
updated list: [10, 20, 80, 40, 50]
updated list: [10, 25, 36, 40, 50]
Inserted list is : [10, 25, 36, 60, 40, 50]
Inserted list is : [10, 25, 36, 60, 40, 50, 70]
Inserted list using negative indexing is : [10, 25, 36, 60, 40, 35, 50, 70]
Insert at end of the list using len fun : [10, 25, 36, 60, 40, 35, 50, 70, 45]
The appended list num is : [10, 25, 36, 60, 40, 35, 50, 70, 45, 85]
The appended list num is : [10, 25, 36, 60, 40, 35, 50, 70, 45, 85, 65]

 Python Example Program - to delete or remove elements from a python list using pop()

In [ ]:
num = [10, 25, 36, 60, 40]
print("The list before popping the elements:",num)
pop_value = num.pop()
print("popped value is :",pop_value)
print("popped list is :",num)
pop_value = num.pop(2)
print("popped value is :",pop_value)
print("popped list is :",num)
pop_value = num.pop(3)
print("popped value is :",pop_value)
print("popped list is :",num)

The list before popping the elements: [10, 25, 36, 60, 40]
popped value is : 40
popped list is : [10, 25, 36, 60]
popped value is : 36
popped list is : [10, 25, 60]

IndexError: pop index out of range

 Python Example Program - to delete or remove elements from a python list using del keyword

In [ ]:
num = [10, 25, 36, 60, 40]
del num[1]
print("The list using del keyword",num)
del num[1:3]
print("The list using del keyword",num)

The list using del keyword [10, 36, 60, 40]
The list using del keyword [10, 40]

 Python Example Program - to delete or remove elements from a python list using remove()

In [ ]:
list1=[1,2,3,4,5]
list2=['A','B','C','B','D']
list1.remove(2)
print(list1)
list2.remove("B")
print(list2)
index = list2.index("C")
print(index)
list2.remove(list2[index])
print(list2)
list2.remove("E")
print(list2)

[1, 3, 4, 5]

TypeError: list.remove() takes exactly one argument (2 given)

In [ ]:
num=[10,20,30,40,50]
num.remove(20)
print("updated list is :",num)
lang=['python','c','java','php','c']
# print(remove_value)
lang.remove("c") # first occurence will remove
print(lang)
lang.remove("cpp")
print(lang)

updated list is : [10, 30, 40, 50]
['python', 'java', 'php', 'c']

ValueError: list.remove(x): x not in list

count()

In [ ]:
num=[1,2,3,4,3,2,2,1,3,4,5,7,8]
cnt=num.count(2)
print("Count of 2 is:",cnt)
cnt=num.count(10)
print("Count of 10 is:",cnt)

Count of 2 is: 3
Count of 10 is: 0

 index()

In [ ]:
lang=['python','c','java','php','c']
str1 = "python is a programming language"
list1 = list(str1)
print(list1)
print("index of php is:",lang.index('php'))

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e']
index of php is: 3

In [ ]:
lang = ['p', 'y', 't', 'h', 'o', 'n', 'p','r','o','g','r','a','m']
print("index of t is:",lang.index('t'))
print("index of p is:",lang.index('p'))
print("index of p is:",lang.index('p',3,10))
print("index of g is:",lang.index('g'))
print("index of p is:",lang.index('z'))

index of t is: 2
index of p is: 0
index of p is: 6
index of g is: 9

AttributeError: 'list' object has no attribute 'find'

clear()

In [ ]:
num=[10,20,30,40,50]
num.clear()
print("After clearing ",num)

After clearing  []

sorting list with numbers and strings

In [ ]:
list1 = [1, 2, 3, 4, 5, 'python', 'c', 'java', 'php']

# Separate integers and strings
num_list = [item for item in list1 if isinstance(item, int)]
lang_list = [item for item in list1 if isinstance(item, str)]

# Sort the lists separately
sorted_num = sorted(num_list)
sorted_lang = sorted(lang_list)

print("Original list:", list1)
print("Sorted numbers:", sorted_num)
print("Sorted strings:", sorted_lang)

Original list: [1, 2, 3, 4, 5, 'python', 'c', 'java', 'php']
Sorted numbers: [1, 2, 3, 4, 5]
Sorted strings: ['c', 'java', 'php', 'python']

reverse() or flipping elements in list

In [ ]:
lang = ['p', 'y', 't', 'h', 'o','n'] # Char list
even = [6,8,2,4,10] # int list
print("The lang list is:",lang)
print("The even num list is:",even)
lang.reverse()
print("The reversed lang list is:",lang)
even.reverse()
print("The reversed even num list is:",even)

The lang list is: ['p', 'y', 't', 'h', 'o', 'n']
The even num list is: [6, 8, 2, 4, 10]
The reversed lang list is: ['n', 'o', 'h', 't', 'y', 'p']
The reversed even num list is: [10, 4, 2, 8, 6]

In [ ]:
nums = [1, 2, 3, 4, 5]

nums.insert(2, 'Hello')  # Insert at index position 1.
# Result: [1, 'Hello', 2, 3, 4, 5]
print(nums)

nums.insert(-1, 'Bye')  # Insert at index position len(nums)-1 = 5.
# Same as: nums.insert(5, 'Bye')
# Result: [1, 'Hello', 2, 3, 4, 'Bye', 5]
print(nums)
nums.insert(-2, 'Good')  # Insert at index position len(nums)-2 = 5.
# Same as: nums.insert(5, 'Good')
# Result: [1, 'Hello', 2, 3, 4, 'Good', 'Bye', 5]
print(nums)

[1, 2, 'Hello', 3, 4, 5]
[1, 2, 'Hello', 3, 4, 'Bye', 5]
[1, 2, 'Hello', 3, 4, 'Good', 'Bye', 5]

Make a copy of a list with the copy() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
list1 = list(mylist)
print(list1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print('list3',list3)
for x in list2:
    list1.append(x)
print('The appended list1 is:',list1)
list2.extend(list1)
print('The appended list2 is:',list2)

list3 ['a', 'b', 'c', 1, 2, 3]
The appended list1 is: ['a', 'b', 'c', 1, 2, 3]
The appended list2 is: [1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [ ]:
# thislist = list("apple", "banana", "cherry") # note the double round-brackets
# print(thislist)
thislist1 = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist1)

['apple', 'banana', 'cherry']

Magic 8 ball code

In [ ]:
import random
messages = ['It is certain',
'It is decidedly so',
'Yes definitely',
'Reply hazy try again',
'Ask again later',
'Concentrate and ask again',
'My reply is no',
'Outlook not so good',
'Very doubtful']
print(messages[random.randint(0, len(messages) - 1)])

Reply hazy try again

In [ ]:
# code
while True:
       question = input("Ask the magical 8 Ball a question (type 'exit' to quit): ")
       if question.lower() == 'exit':
           print("Goodbye!")
           break
       else:
           print("Magic 8 Ball says:", random.choice(messages))

Ask the magical 8 Ball a question (type 'exit' to quit): hdgdee
Magic 8 Ball says: It is certain
Ask the magical 8 Ball a question (type 'exit' to quit): dkhfhas
Magic 8 Ball says: My reply is no
Ask the magical 8 Ball a question (type 'exit' to quit): kjgbhb
Magic 8 Ball says: Outlook not so good
Ask the magical 8 Ball a question (type 'exit' to quit): exit
Goodbye!