Comparison operators

In [ ]:
x = int(input("Enter first num1:"))
y = int(input("Enter second num2:"))
if x==y:   # check for equality and returns True or False
  print("is_equal")
elif x > y:  # check if left is greater than right
  print("is_greater")
elif  x < y:  # check if left is lesser than right
  print("is_lesser")
elif x >= y:  # check if left is greater than or equal to right
  print("is_greater_equal")
else :  # check if left is lesser than or equal to right
  print("is_lesser_equal")

Enter first num1:20
Enter second num2:30
is_lesser

In [ ]:
x = int(input("Enter first num1:"))
y = int(input("Enter second num2:"))
is_equal = x==y   # check for equality and returns True or False
print(is_equal)
is_greater = x > y  # check if left is greater than right
print(is_greater)
is_lesser = x < y  # check if left is lesser than right
print(is_lesser)
is_greater_equal = x >= y  # check if left is greater than or equal to right
print(is_greater_equal)
is_lesser_equal = x <= y  # check if left is lesser than or equal to right
print(is_lesser_equal)

Enter first num1:52
Enter second num2:26
False
True
True
True
False

Bitwise operators

In [ ]:
a = 10 # a = 1010
b = 4  # b = 0100

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)
c=-10
print(~c)

0
14
-11
14
2
40
9

if condition

In [ ]:
age = int(input("Enter your age:"))
has_license = True
if age > 18 and has_license:
    print("You are eligible to drive.")
else:
    print("You are not eligible to drive.")

Enter your age:15
You are not eligible to drive.

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

boolean,octal and hexadecimal

In [ ]:
a = 0b1101
b  =0b1001
c = a & b
print(c)
a1 = 0o47
b1  =0o56
c1 = a1 & b1
print(c1)
a2 = 0xA5
b2  =0xB7
c2 = a2 & b2
print(c2)

9
38
165

In [ ]:
password = input("Enter your password:")
if(len(password)<8):
  print("password is too short")
elif not any(char.isdigit() for char in password):
  print("password should have at least one digit")
elif not any(char.isupper() for char in password):
  print("password should have at least one uppercase letter")
elif not any(char.islower() for char in password):
  print("password should have at least one lowercase letter")
else:
  print("password is valid")

Enter your password:Naveen1234
password is valid

In [ ]:
# Assigning boolean values
is_active = True
is_empty = False

# Using booleans in logical operations
condition1 = True
condition2 = False
result_and = condition1 and condition2  # result_and will be False
print(result_and)
result_or = condition1 or condition2   # result_or will be True
print(result_or)
result_not = not condition1            # result_not will be False
print(result_not)

# Using booleans in conditional statements
if is_active:
    print("User is active.")
else:
    print("User is inactive.")

False
True
False
User is active.
True
True

The print() function also accepts optional parameters to customize the output:

end: This parameter allows you to specify a string to be
appended after the last value. The default is a newline character (\n)

In [ ]:
print("This is the first line.", end="")
print("This continues on the same line.")

This is the first line.This continues on the same line.

In [ ]:
print("This is the first line.", end=" ")
print("This continues on the same line.")

This is the first line. This continues on the same line.

In [ ]:
print("This is the first line.", end="-")
print("This continues on the same line.")

This is the first line.-This continues on the same line.

In [ ]:
print("This is the first line.", end="\n")
print("This continues on the next line.")

This is the first line.
This continues on the next line.

In [ ]:
print("This is the first line.", end="\r")
print("first line is overwritten.")

first line is overwritten.

In [ ]:
print("This is the first line.")
print("This continues on the next line.")

This is the first line.
This continues on the next line.

In [ ]:
print("a","b","c")

a b c

In [ ]:
print("a""b""c")

abc

In [ ]:
print("a")
print("b")
print("c")

a
b
c

sep: This parameter allows you to specify a custom separator between items. Specifies the separator between multiple objects. The default is a single space.

Empty Separator:
By setting sep=' ' to an empty string, you are instructing Python to use nothing as the separator between the items

In [ ]:
print("a","b","c",sep="")

abc

In [ ]:
print("a","b","c",sep=" ")

a b c

comma Separator:
By setting sep=', ' to a string, you are instructing Python to use comma as the separator between the items

In [ ]:
print("a","b","c",sep=',')

a,b,c

In [ ]:
print("abc",sep=",")

abc

In [ ]:
print("abc",sep="\n")

abc

In [ ]:
print("a""b""c",sep='\n')

abc

In [ ]:
print("a","b","c",sep='\n')

a
b
c

In [ ]:
print("Python", "is", "fun", sep="-") # Output: Python-is-fun

Python-is-fun

Python String indexing

In [ ]:
str = "Hello world"
print(str)
print(str[0])
print(str[1])
print(str[2])
print(str[3])
print(str[4])

Hello world
H
e
l
l
o
d

In [ ]:
str = '''helloworld'''
print(str)

helloworld

In [ ]:
str = "Hello world"
print(str)
print(str[-1])
print(str[-2])

Hello world
d
l

In [ ]:
str1 = "Hello world"
print(str1[2:5])
print(str1[-4:-1])
print('w' in str1)
print('Wo' not in str1)
print('Hello\n world')
print(r'Hello\n world')

llo
orl
True
True
Hello
 world
Hello\n world

# python code to show Strings and int are immutable

In [ ]:
x=10
print(x)
x=5
print(x)
x[1]=2
print(x)

10
5

TypeError: 'int' object does not support item assignment

# Python code to test that
# strings are immutable

In [ ]:
str='hello garden city'
print(str)
str='hello students'
print(str)
str[1]='c'
print(str)

hello garden city
hello students

TypeError: 'str' object does not support item assignment

In [ ]:
str = "Java is Object-Oriented and Java"
str2 = str.replace("Java","Python")
print("Old String str: \n",str)
print("New String str2: \n",str2)
str3 = str.replace("Java","Python",1)
print("\n Old String str: \n",str)
print("New String str3: \n",str3)
str4 = str.replace("Java","Python",2)
print("\n Old String str: \n",str)
print("New String str4: \n",str4)
str5 = str.replace("Java","Python",-1)
print("\n Old String str: \n",str)
print("New String str5: \n",str5)

Old String str:
 Java is Object-Oriented and Java
New String str2:
 Python is Object-Oriented and Python

 Old String str:
 Java is Object-Oriented and Java
New String str3:
 Python is Object-Oriented and Java

 Old String str:
 Java is Object-Oriented and Java
New String str4:
 Python is Object-Oriented and Python

 Old String str:
 Java is Object-Oriented and Java
New String str5:
 Python is Object-Oriented and Python

In python, split() method splits the string into a comma separated list.
The string splits according to the space if the delimiter is not provided.​

In [ ]:
str1 = "Python is a programming language"
str2 = str1.split()
print(str1);print(str2)
str3 = "Python,is,a,programming,language"
str4 = str3.split(sep=',')
print(str3);print(str4)
str5 = "Python-is-a-programming-language"
str6 = str5.split(sep='-')
print(str5);print(str6)
str7 = "Python|is|a|programming|language"
str8 = str7.split(sep='|')
print(str7);print(str8)
str9 = str7.split(sep='|',maxsplit=2) # Split at most 2 times
print(str9)
text1 = "part1--part2--part3"
parts = text1.split('--')
print(parts)

Python is a programming language
['Python', 'is', 'a', 'programming', 'language']
Python,is,a,programming,language
['Python', 'is', 'a', 'programming', 'language']
Python-is-a-programming-language
['Python', 'is', 'a', 'programming', 'language']
Python|is|a|programming|language
['Python', 'is', 'a', 'programming', 'language']
['Python', 'is', 'a|programming|language']
['part1', 'part2', 'part3']

In [ ]:
[c for c in "Hello world"]

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
str = "Hello world"
list(str)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [ ]:
str1 = "python is a programming language"
index1 = str1.find('language')
print(index1)
index2 = str1.index("java")
print(index2)

24

ValueError: substring not found

In [ ]:
str1="12345"
str2="python123"
str3="123-45-78"
str4="IIIV"
str5="\u00B23" # 23
str6="\u00BD" # 1/2 unicode

print(str1.isdigit())
print(str2.isdigit())
print(str3.isdigit())
print(str4.isdigit())
print(str5.isdigit())
print(str6.isdigit())

True
False
False
False
True
False

In [ ]:
str4="IIIIVIII"
print(str4.isdecimal())
print(str4.isdigit())
print(str4.isnumeric())
str5="1/3"
print(str5.isdecimal())
print(str5.isdigit())
print(str5.isnumeric())
str6="½"
print(str6.isdecimal())
print(str6.isdigit())
print(str6.isnumeric())
str7="ⅠⅡⅢⅣⅤⅥⅦⅧⅨⅩⅪⅫⅬⅭⅮⅯ"
print(str7.isdecimal())
print(str7.isdigit())
print(str7.isnumeric())
str8="ⅠⅡⅢⅣ"
print(str8.isdecimal())
print(str8.isdigit())
print(str8.isnumeric())

False
False
False
False
False
False
False
False
True
False
False
True
False
False
True

In [ ]:
str1 = "12345"
str2 = "python123"
str3 = "123-45-78"
str4 = "Ⅸ "
str5 = "\u00B23" # 23
str6 = "\u00BD"  # 1/2
print(str1.isnumeric())
print(str2.isnumeric())
print(str3.isnumeric())
print(str4.isnumeric())
print(str5.isnumeric())
print(str6.isnumeric())

True
False
False
False
True
True

In [ ]:
str1 = "python"
str2="PytHOn"
str3="python3.7.3"
print(str1.islower())
print(str2.islower())
print(str3.islower())

True
False
True

In [ ]:
str1 = "PYTHON"
str2="PytHOn"
str3="PYTHON 3.7.3"
print(str1.isupper())
print(str2.isupper())
print(str3.isupper())

True
False
True

In [ ]:
var = "3/4"
print (var)
var = "\u00BE"
print (var)

3/4
¾

In [ ]:
var = "\u005B"
print (var)

[

unicode for 1 and 0

In [ ]:
var = "\u0030"
print (var)
var = "\u0031\u0030"
print (var)
var = "\u0041"
print (var)
var = "\u0041\u0042"
print (var)
var = "\u2211"
print (var)

0
10
A
AB
Ⅰ
∑

Roman numbers

In [ ]:
var = "\u2160"
print (var)
var = "\u2165"
print (var)
var = "\u20AC"
print (var)

Ⅰ
Ⅵ
€

Conditional Flow codes

Python Example Program - Simple If Statement

In [ ]:
a = 33
b = 200
if b > a:
    print ("b is greater than a")

b is greater than a

If – else statement in Python

In [ ]:
age = int (input("Enter your age : "))
if age >= 18:
    print("You are eligible to vote !!")
else:
    print("Sorry! you have to wait !!")

Enter your age : 15
Sorry! you have to wait !!

Python Example Program - If-Else-If Statement

Python Example Program - To find maximum between three numbers

In [ ]:
a=int(input("Enter a value : "))
b=int(input("Enter b value : "))
c=int(input("Enter c value : "))
if (a>b) and (a>c):
	print("Maximum value is :",a)
elif (b>c):
	print("Maximum value is :",b)
else:
	print("Maximum value is :",c)

Enter a value : 10
Enter b value : 20
Enter c value : 6
Maximum value is : 20

Python Example Program - To provide grades based on marks

In [ ]:
marks = int(input("Enter the marks :"))
if marks > 85 and marks <= 100:
   print("Congrats! you scored grade A..")
elif marks > 60 and marks <= 85:
   print("You scored grade B + ..")
elif marks > 40 and marks <= 60:
   print("You scored grade B ..")
elif (marks > 30 and marks <= 40):
   print("You scored grade C ..")
else:
   print("Sorry you are fail ?")

Enter the marks :45
You scored grade B ..

Python Example Program - Python While Loop

In [ ]:
i=1;
while i<=3:
    print(i);
    i=i+1;

1
2
3

Python Example Program - Python Using else with while loop

In [ ]:
i=1;
while i<=3:
    print (i)
    i=i+1;
else: print("The while loop terminated");

1
2
3
The while loop terminated

Python Example Program - Python for loop

In [ ]:
i=1
n=int(input("Enter n value : "))
for i in range(i,n+1):
    print(i,end = ' ')

Enter n value : 4
1 2 3 4

Python Example Program - Python Using else with for loop

In [ ]:
for i in range(0,5):
  print(i)
else:
  print("for loop completely exhausted");

0
1
2
3
4
for loop completely exhausted

In [ ]:
password = "Naveen1234"
for char in password:
  x = char.isdigit()
  y = (char.isdigit())
  # print(x)
# print(y)
x1 = any(char.isdigit() for char in password)
x2 = any(char.isupper() for char in password)
x3 = any(char.islower() for char in password)
print(x1)
print(x2)
print(x3)

True
True
True

Python Example Program - printing the table of the given number using Python Loop statements

In [ ]:
num = int(input("Enter a number:"));
for i in range(1,11):
    print("%d X %d = %d"%(num,i,num*i))

Enter a number:5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Nested for loops Python Example Program - printing the rows of stars of the given number

In [ ]:
n = int(input("Enter the no.of rows you want to print : "))
for i in range(0,n):
   for j in range(0,i+1):
      print("*",end="")
   print()

Enter the no.of rows you want to print : 5
*
**
***
****
*****

Python Example Program - Break statement in python

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Python Example Program -to print sum of first N numbers using break statement

In [ ]:
nsum = 0
count = 0
num = int(input("Enter the number:"))
for count in range(num):
    nsum = nsum + count
    if count== 6:
        break
print("Sum of first 6 Numbers is: ", nsum)

Enter the number:10
Sum of first 6 Numbers is:  21

Python Example Program - Continue statement in python

In [ ]:
str1 = input("Enter any String : ")
for i in str1:
    if i == 'h':
        continue
    print(i,end=" ")

Enter any String : what
w a t

In [ ]:
for i in range(5):
  if i == 3:
    print("Skipping 3")
    continue
  print(i)

0
1
2
Skipping 3
4

 Python Example Program - to print odd numbers using continue statement

In [ ]:
num = 0
print("Odd numbers in between 1 to 10")
while(num < 10):
    num = num + 1
    if (num % 2) == 0:
        continue
    print(num)

Odd numbers in between 1 to 10
1
3
5
7
9

 Python Example Program - to print even numbers using continue statement

In [ ]:
num = 0
print("Even numbers in between 1 to 10")
while(num < 10):
    num = num + 1
    if (num % 2) != 0:
        continue
    print(num)

Even numbers in between 1 to 10
2
4
6
8
10

In [ ]:
string = "Hello"
tobytes = string.encode('utf-8')
print (tobytes)
string = tobytes.decode('utf-8')
print (string)

b'Hello'
Hello

The Rupee symbol (₹) is stored in the variable using its Unicode value. We convert the string to bytes and back to str.

In [ ]:
string = "\u20B9"
print (string)
tobytes = string.encode('utf-8')
print (tobytes)
string = tobytes.decode('utf-8')
print (string)

₹
b'\xe2\x82\xb9'
₹

In [ ]:
# In python3
# By default the encoding is "utf-8"
import sys

# printing the default encoding
print("The default encoding for python3 is:", sys.getdefaultencoding())

# to define string as unicode
# we need to prefix every string with u"...."
p = u"\u2119"
y = u"\u01b4"
t = u"\u2602"
h = u"\u210c"
o = u"\u00f8"
n = u"\u1f24"

# printing Python
print(p+y+t+h+o+n)

The default encoding for python3 is: utf-8
ℙƴ☂ℌøἤ

In [ ]:
s1 = 'a'
print(s1)
# s2 = int(s1)
# print(s2)
s3 = 2
print(s3)
print(float(s3))

a
2
2.0

In [ ]:
item = "book"
price = 19.9943
print(f"The {item} costs ${price:.2f}.") # Formats price to two decimal places

The book costs $19.99.

In [ ]:
# Converting to boolean using bool()
empty_list = []
has_items = bool(empty_list)  # has_items will be False
print(has_items)
non_empty_string = "hello"
is_truthy_string = bool(non_empty_string) # is_truthy_string will be True
print(is_truthy_string)

False
True

Local variable

In [ ]:
def myfunc():
	x = "fantastic"
	print("Python is " + x)
myfunc()

Python is fantastic

In [ ]:
def myfunc():
	x = "fantastic"
	print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic

NameError: name 'x' is not defined

In [ ]:
def myfunc():
  global x  # Use the global keyword to modify the global variable x
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is fantastic

In [ ]:
x = "awesome"
def myfunc():
	print("Python is " + x)
myfunc()
print("Python is " + x)

Python is awesome
Python is awesome

We can use the global keyword if you want to change a global variable inside a function.

In [ ]:
x = "awesome"
def myfunc():
  global x  # Use the global keyword to modify the global variable x
  x = "fantastic"
  print("Python is " + x)
myfunc()
x = "hello"
print("Python is " + x)

Python is fantastic
Python is hello

In [ ]:
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

Global variable

In [ ]:
global x
x = "awesome"
def myfunc():
	global x
	x = "fantastic"
	print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is fantastic

int to float and float to int conversion

In [ ]:
x = 34
print(x)
x = float(x)
print(x)
y = 34.56
print(y)
y = int(y)
print(y)

34
34.0
34.56
34

int to complex

In [ ]:
x = 2
print(x)
x = complex(x)
print(x)

2
(2+0j)

complex to int

In [ ]:
x= 2+3j
print(x)
x= int(x)
print(x)

(2+3j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

int to string or string to int

In [ ]:
y = 34
print(y)
y = str(y)
print(y)
y = y+3
print(y)

34
34

TypeError: can only concatenate str (not "int") to str

In [ ]:
x = "35"
print(x)
x = int(x)
print(x)
x = x+3
print(x)

35
35
38

In [ ]:
x= "hello"
print(x)
x= int(x)
print(x)

In [ ]:
x= 2+3j
print(x)
x= 3j
print(x)
c = int(x)
print(c)

(2+3j)
3j

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

Python has a built-in module called random that can be used to make random numbers:

random.randint(a, b): Returns a random integer N such that a <= N <= b. Both a and b are inclusive.    

random.uniform(a, b): Returns a random floating-point number N such that a <= N <= b or b <= N <= a.

In [ ]:
import random
print(random.randrange(1,10)) # Generates a random integer between 1 and 10
print(random.uniform(1.5, 5.5)) # Generates a random float between 1.5 and 5.5

8
3.735719711607224

random.choice(sequence): Returns a randomly selected element from a non-empty sequence (e.g., a list, tuple, or string).

In [ ]:
fruits = ["apple", "banana", "orange"]
print(random.choice(fruits))

orange

random.shuffle(list): Shuffles the elements of a list in place. This function modifies the original list and returns None.

In [ ]:
cards = ["Ace", "King", "Queen"]
random.shuffle(cards)
print(cards)

['King', 'Ace', 'Queen']

random.seed(a=None): Initializes the random number generator. Providing the same seed value will result in the same sequence of "random" numbers being generated, which is useful for reproducibility in testing or simulations.

In [ ]:
random.seed(62) # Set a specific seed
print(random.random())
random.seed(62) # Set the same seed again
print(random.random()) # Will print the same number as before
print(random.random()) # Will print the different number

0.9279915658776743
0.9279915658776743
0.17302689004804395

In [ ]:
import random

# Set the seed for the random number generator
random.seed(42)  # Using 42 as an example seed value

# Generate a random integer between 1 and 100 (inclusive)
random_number_1 = random.randint(1, 100)
print(f"First random number with seed 42: {random_number_1}")

# Generate another random number
random_number_2 = random.random() # Generates a float between 0.0 and 1.0
print(f"Second random number with seed 42: {random_number_2}")

# If you run the code again with the same seed, you will get the same sequence
print("\nRunning again with the same seed:")
random.seed(42)
random_number_reproducible_1 = random.randint(1, 100)
print(f"First reproducible random number: {random_number_reproducible_1}")

random_number_reproducible_2 = random.random()
print(f"Second reproducible random number: {random_number_reproducible_2}")

# If you don't set a seed, or use a different seed, the numbers will change
print("\nRunning without a specific seed (or with a different one):")
# random.seed() # You can call seed without arguments to use system time as seed
random_number_different_1 = random.randint(1, 100)
print(f"First different random number: {random_number_different_1}")

First random number with seed 42: 82
Second random number with seed 42: 0.11133106816568039

Running again with the same seed:
First reproducible random number: 82
Second reproducible random number: 0.11133106816568039

Running without a specific seed (or with a different one):
First different random number: 95

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)
print(txt.index("ain"))

True
5

In [ ]:
fruits=["Banana", "apple", "Mango", "Cherry","sql","sQl","SQL"]
fruits2 = sorted(fruits)
print("The sorted list fruits2 is :",fruits2)
print("The sorted list fruits3 is :",sorted(fruits, key=str.lower))
print("The sorted list fruits3 is :",sorted(fruits, key=str.upper))

The sorted list fruits2 is : ['Banana', 'Cherry', 'Mango', 'SQL', 'apple', 'sQl', 'sql']
The sorted list fruits3 is : ['apple', 'Banana', 'Cherry', 'Mango', 'sql', 'sQl', 'SQL']
The sorted list fruits3 is : ['apple', 'Banana', 'Cherry', 'Mango', 'sql', 'sQl', 'SQL']

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
def spam():
  global eggs
  eggs = 'spam' # this is the global
def bacon():
  eggs = 'bacon' # this is a local
  print(eggs)
def ham():
  print(eggs) # this is the global
  eggs = 42 # this is the global
spam()
print('eggs is:',eggs)
bacon()
ham()

eggs is: spam
bacon

UnboundLocalError: cannot access local variable 'eggs' where it is not associated with a value

In [ ]:
def spam(d):
  try:
    return 42 / d
  except ZeroDivisionError:
    print('Error: Invalid argument.')
print(spam(2))
print(spam(12))
print(spam(0))
print(spam(1))

21.0
3.5
Error: Invalid argument.
None
42.0

In [ ]:
# This is a guess the number game.
import random
secret=random.randint(1, 20)
print('I am thinking of a number between 1 and 20')
for i in range(1, 7):
  guess = int(input('Take a guess '))
  if guess < secret:
    print('Your guess is too low.')
  elif guess > secret:
    print('Your guess is too high.')
  else:
    break
if guess == secret:
  print('Good job! You guessed my number in '+ str(i) + ' guesses!')
else:
  print('Nope. The number I was thinking of was ' + str(secret))

I am thinking of a number between 1 and 20
Take a guess 5
Your guess is too low.
Take a guess 10
Your guess is too high.
Take a guess 7
Your guess is too low.
Take a guess 9
Your guess is too high.
Take a guess 8
Good job! You guessed my number in 5 guesses!