Basic Arithmetic operations

In [ ]:
5+2 # Addition

7

In [ ]:
5-2 # Subtraction

3

In [ ]:
5*2 # Multiplication

10

In [ ]:
5/2   # division

2.5

In [ ]:
5%2 # reminder

1

In [ ]:
5//2 # modulo division

2

In [ ]:
5**2 # Exponentiation

25

In [ ]:
x1 = 24/7 # Quotient
# print("%0.2f",%(x1))
print(x1)
x2 = 20//7 #
print(x2)
x3 = 24%7
print(x3)

3.4285714285714284
2
3

In [ ]:
x1 = 26/5 # normal division (Quotient)
print(x1)
x2 = 26//5 # modulo division or floor division
print(x2)
x3 = 26%5 # reminder
print(x3)

5.2
5
1

operators

In [ ]:
x=5
print(x)

5

Chain operations

In [ ]:
x_1 = (2+3)*5
y1= 2+(3*5)
print(x_1)
print(y1)

25
17

In [ ]:
x = 2+3*5/4
# y= 2+(3*5)
# print(x)
print(x)

5.75

In [ ]:
10/(2+3)

2.0

Type checking

In [ ]:
type(45)

int

In [ ]:
x4 = 'abc'
print(x4)
# x5= int(x4)
# print(x5)

abc

In [ ]:
x1 =32
type(x1)
print(x1)
x2 = float(x1)
print(x2)
x3 = str(x1)
print(x3)
# type(3.5)

32
32.0
32

In [ ]:
type(3.14)

float

In [ ]:
type("hello")

str

In [ ]:
x=int(3.14)
print(x)
# y=int('hello')
# print

3

string concatination and Replication

In [ ]:
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)

John Doe

In [ ]:
laugh = "ha"
print(laugh * 3)

hahaha

In [ ]:
print(laugh*4)

hahahaha

Storing values in variables

In [ ]:
age = 20
height = 5.9
city = "Bangalore"
print(age)
print(height)
print(city)

20
5.9
Bangalore

In [ ]:
print("I am "+str(age)+" years old and I live in "+ city + ".")

I am 20 years old and I live in Bangalore.

In [ ]:
name = input("Enter your name: ")

Enter your name: naveen

In [ ]:
print("Hello,"+name+"! Welcome to python programming")

Hello,naveen! Welcome to python programming

Simple calculator

In [ ]:
# simple calculator
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter the operator (+, -, *, /): ")
if(operator == "+"):
  print(num1+num2)
elif(operator == "-"):
  print(num1-num2)
elif(operator == "*"):
  print(num1*num2)
elif(operator == "/"):
  print(num1/num2)
else:
  print("Invalid operator")

Enter the first number: 23
Enter the second number: 15
Enter the operator (+, -, *, /): -
8.0

Counting number of characters in a string

In [ ]:
input_string = input("Enter a string: ")
count = 0
for char in input_string:
  count += 1
print("The number of characters in the string is:", count)
# using len function
print("The number of characters in the string using len function is:", len(input_string))

Enter a string: naveen
The number of characters in the string is: 6
The number of characters in the string using len function is: 6

Common errors to avoid (syntax and type errors)

In [ ]:
 print("Hello"

SyntaxError: incomplete input (ipython-input-1035533276.py, line 1)

In [ ]:
str2="world"
print("string is:%s"%(str2))

string is:world

In [ ]:
x = 3456.45657
print("value of x is:%0.2f"%(x))
print("value of x is:%0.4f"%(x))

value of x is:3456.46
value of x is:3456.4566

In [ ]:
print(r'Hello\n world')
print('Hello\n world')

Hello\n world
Hello
 world

In [ ]:
age = 25
print("I am "+age+" year old")

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("I am "+str(age)+" year old")

I am 25 year old

In [ ]:
X=10+20
print(X)

30

In [ ]:
    my_string = "Hello World"
    print("World" in my_string)  # Output: True
    print("Python" in my_string) # Output: False

True
False

In [ ]:
    my_string = "Hello World"
    print("Python" not in my_string) # Output: True
    print("World" not in my_string)  # Output: False

True
False

In [ ]:
    a = [1, 2, 3]
    b = a  # b now refers to the same list object as a

    print(a is b)  # Output: True

True

In [ ]:
    value = None

    if value is None:
        print("Value is None")  # Output: Value is None

Value is None

In [ ]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)   # Output: True (values are equal)
print(x is y)    # Output: False (they are different objects in memory)

True
False

In [ ]:
print("apple", "banana", "cherry", sep="---")

apple---banana---cherry

In [ ]:
print("This is the first line.", end=" ")
print("This is on the same line.")

This is the first line. This is on the same line.

In [ ]:
print("This is the first line.")
print("This is in the next line.")

This is the first line.
This is in the next line.

In [ ]:
for i in range(10):
    if i == 5:
        print(quit)
        quit()
    print(i)

0
1
2
3
4
<IPython.core.autocall.ZMQExitAutocall object at 0x79a10fa84d40>
5
6
7
8
9

In [ ]:
# Integer division
result_int = divmod(10, 3)
print(result_int)  # Output: (3, 1)

# Floating-point division
result_float = divmod(10.5, 2)
print(result_float) # Output: (5.0, 0.5)

# Division with negative numbers
result_neg = divmod(-10, 3)
print(result_neg)  # Output: (-4, 2)

(3, 1)
(5.0, 0.5)
(-4, 2)

In [ ]:
result_int = divmod(5, 60)
print(result_int)  # Output: (3, 1)

(0, 5)

importing math, time and sys modules

In [ ]:
import math
print(math.pi)
print(math.sqrt(16))
print(math.pow(2,3))
print(math.floor(2.5))
print(math.ceil(2.5))
print(math.factorial(5))

3.141592653589793
4.0
8.0
2
3
120

In [ ]:
import math as m
print(m.pi)
print(m.sqrt(16))
print(m.pow(2,3))
print(m.floor(2.5))
print(m.ceil(2.5))
print(m.factorial(5))
# print(time.time())
# print(time.localtime())
# print(time.asctime())

3.141592653589793
4.0
8.0
2
3
120

In [ ]:
import sys

user_input = input("Enter 'exit' to quit:")
if user_input.lower()=='exit':
	print("Exiting the program...")
	sys.exit()
print("you entered:",user_input)

Enter 'exit' to quit:exit
Exiting the program...

SystemExit:

/usr/local/lib/python3.12/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

How To Create a Countdown Timer Using Python?

In [ ]:
import time

def countdown(t):
    while t:
        mins, secs = divmod(t, 60)
        timer = '{:02d}:{:02d}'.format(mins, secs)
        # print(timer,end='\r')  # Overwrite the line each second
        print('\r Time in {min:sec}:', timer, end='')
        time.sleep(1)
        t -= 1

    print("\nTime out!!")

t = input("Enter the time in seconds: ")

countdown(int(t))

Enter the time in seconds: 6
 Time in {min:sec}: 00:01
Time out!!