Tuple

Python Example Program - Tuple creation in Python

In [ ]:
L0 = ()		#creates empty Tuple
L1 = (1, 2, 3, 4, 5, 6)
L2 = ("C Programing","Java","Python")
L3 = (123,"python", 3.7)
print(L0)
print(L1)
print(L2)
print(L3)

()
(1, 2, 3, 4, 5, 6)
('C Programing', 'Java', 'Python')
(123, 'python', 3.7)

In [1]:
L0 = tuple()		#creates empty Tuple
L1 = tuple((1, 2, 3, 4, 5, 6))
L2 = tuple(("C Programing","Java","Python"))
L3 = tuple((123,"python", 3.7))
print(L0)
print(L1)
print(L2)
print(L3)

()
(1, 2, 3, 4, 5, 6)
('C Programing', 'Java', 'Python')
(123, 'python', 3.7)

Python Example Program - Tuple Operators in Python

In [ ]:
num=(1,2,3,4,5)
lang=('python','c','java','php')
print(num+lang)
print(lang+num)
print(num*2)
print(lang*2)
print(lang[2])
print(lang[1:4])
print('cpp' in lang)
print(6 not in num)

(1, 2, 3, 4, 5, 'python', 'c', 'java', 'php')
('python', 'c', 'java', 'php', 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('python', 'c', 'java', 'php', 'python', 'c', 'java', 'php')
java
('c', 'java', 'php')
False
True

In [ ]:
lang = ('python','c','java','php')
print(lang)
for i in lang:
    print(i)

('python', 'c', 'java', 'php')
python
c
java
php

In [ ]:
tup=('python','c','java','php')
tup[3]="html"

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup=('python','c','java','php')
del tup[3]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tup=('python','c','java','php')
print(tup)
del tup
print(tup)

('python', 'c', 'java', 'php')

NameError: name 'tup' is not defined

In [ ]:
# Python code to test that
# tuples are immutable

tuple1 = (10, 20, 30, 40)
print('tuple item can be accessed',tuple1[1])
for i in tuple1:
    print(i)
tuple1[0] = 4 # TypeError: 'tuple' object does not support item assignment
print(tuple1)

tuple item can be accessed 20
10
20
30
40

TypeError: 'tuple' object does not support item assignment

len() max() min() sum()

In [ ]:
tuple1=('%','&','$','a','b','bat')
print(len(tuple1))
print(max(tuple1))
print(min(tuple1))
# print(sum(tuple1))

6
bat
$

In [ ]:
num=(10,20,60,40,50)
print("length of tupple num :",len(num))
print("Max of tupple num :",max(num))
print("Min of tupple num :",min(num))
print("sum of tupple items :",sum(num))

length of tupple num : 5
Max of tupple num : 60
Min of tupple num : 10
sum of tupple items : 180

In [ ]:
lang=('java','c','python','cpp','sql','SQL')
print("length of tupple_lang :",len(lang))
print("Max of tupple_lang :",max(lang))
print("Min of tupple_lang :",min(lang))
# print("sum of list items :",sum(lang))

length of tupple_lang : 6
Max of tupple_lang : sql
Min of tupple_lang : SQL

tuple()

In [ ]:
str="python"
tuple1=tuple(str)
print("string to tuple conversion:",tuple1)
list1 = [10,20,30,40,'java']
tuple2 = tuple(list1)
print("list to tuple conversion:",tuple2)

string to tuple conversion: ('p', 'y', 't', 'h', 'o', 'n')
list to tuple conversion: (10, 20, 30, 40, 'java')

sorted() for numbered tuple

In [ ]:
num=(1,3,2,4,6,5)
print("The original tuple num is :",num)
num2 = sorted(num)
print("The sorted list num2 is :",num2)
num3 = sorted(num2,reverse=True)
print("The sorted list num3 in descending order using sorted is :",num3)
num4 = tuple(num2)
print("The sorted tuple num4 is :",num4)
print("The original tuple num is :",num)

The original tuple num is : (1, 3, 2, 4, 6, 5)
The sorted list num2 is : [1, 2, 3, 4, 5, 6]
The sorted list num3 in descending order using sorted is : [6, 5, 4, 3, 2, 1]
The sorted tuple num4 is : (1, 2, 3, 4, 5, 6)
The original tuple num is : (1, 3, 2, 4, 6, 5)

sorted() for string tuple

In [ ]:
lang=('java','c','python','cpp','sql','SQL')
print("The original tuple lang is :",lang)
lang2 = sorted(lang)
print("The sorted list lang2 is :",lang2)
lang3 = sorted(lang2,reverse=True)
print("The sorted list num3 in descending order using sorted is :",lang3)
lang4 = tuple(lang2)
print("The sorted tuple lang3 is :",lang4)
print("The original tuple lang is :",lang)

The original tuple lang is : ('java', 'c', 'python', 'cpp', 'sql', 'SQL')
The sorted list lang2 is : ['SQL', 'c', 'cpp', 'java', 'python', 'sql']
The sorted list num3 in descending order using sorted is : ['sql', 'python', 'java', 'cpp', 'c', 'SQL']
The sorted tuple lang3 is : ('SQL', 'c', 'cpp', 'java', 'python', 'sql')
The original tuple lang is : ('java', 'c', 'python', 'cpp', 'sql', 'SQL')

 Python Example Program - to delete or remove elements from a python list using del keyword

In [ ]:
num = (10, 25, 36, 60, 40)
del num[1]

TypeError: 'tuple' object doesn't support item deletion

Entire tuple can be deleted

In [ ]:
num2 = (10, 25, 36, 60, 40)
print("The tuple before deletion num2:",num2)
del num2
print("The tuple after deletion num2:",num2)

The tuple before deletion num2: (10, 25, 36, 60, 40)

NameError: name 'num2' is not defined

count()

In [ ]:
num=(1,2,3,4,3,2,2,1,3,4,5,7,8)
cnt=num.count(2)
print("Count of 2 is:",cnt)
cnt=num.count(10)
print("Count of 10 is:",cnt)

Count of 2 is: 3
Count of 10 is: 0

 index()

In [ ]:
lang = ('p', 'y', 't', 'h', 'o', 'n', 'p','r','o','g','r','a','m')
print("index of t is:",lang.index('t'))
print("index of p is:",lang.index('p'))
print("index of p is:",lang.index('p',3,10))
print("index of p is:",lang.index('z'))

index of t is: 2
index of p is: 0
index of p is: 6

ValueError: tuple.index(x): x not in tuple

Convert the tuple into a list to be able to change it:

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

To create a tuple with only one item, you have to add a comma after the item, unless Python will not recognize the variable as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')